

.splitLeft {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
}

.splitRight {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
}


/*


table, th, td {
	border: 1px solid;
}

th {
	bold;
}

.container {
	position: relative;
}

.stateDemo{
	position: absolute;
	top: 8px;
	right: 400px;
	font-size: 18px;
}

.stateElec{
	position: absolute;
	top: 110px;
	right: 310px;
	font-size: 18px;
}

.distElec{
	position: absolute;
	top: 250px;
	right: 310px;
	font-size: 18px;
}

.precElec{
	position: absolute;
	top: 410px;
	right: 310px;
	font-size: 18px;
}
*/